html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Mogra', cursive;
	color: #FFF;
	overflow: hidden;
}

section {
	position: relative;
}

.text-container {
	position: absolute; 
	text-align: center;
	width: 100%;
	height: 50%;
	margin: auto;
	top: 530px;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 51;
}

.text-container:before {
	width: 395px;
	height: 1px;
	border-top: 4px double #FFF;
	content: "";
	display: block;
	margin: 20px auto;
}

.text-container:after {
	width: 395px;
	height: 1px;
	border-top: 4px double #FFF;
	content: "";
	display: block;
	margin: 20px auto;
}

h1 {
	letter-spacing: 10px;
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

button, .button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
	color: white;
	border-color: white;
  margin-bottom: 0px;
}
@media screen and (max-height: 800px) {
  .text-container {
    top: 350px;
  }
}

@media screen and (max-height: 600px) {
  .text-container {
    top: 163px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px; 
  }

  .text-container:after {
    width: 230px;
  }

  .text-container:before {
    width: 230px;
  }
}
